<div id="events_subnav" class="subnav">
    <ul class="clearfix">
      <li><%= link_to t("overview"), root_url,
              :class => subnav_class_for("site", "index") %>
      </li>
      <li><%= link_to t("browse_events"), events_url,
              :class => subnav_class_for("events", "index") %>
      </li>
      <li><%= link_to t("add_an_event"), new_event_url,
              :class => subnav_class_for("events", "new") %>
      </li>
      <li><%= link_to t("import_events"), new_source_url,
              :class => subnav_class_for("sources", "new") %>
      </li>
    </ul>
</div>
